<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tatar.shoppinglist">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.manageitems.ItemsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activeshoppinglists.ShoppingListDisplayActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activeshoppinglistitems.ItemDisplayActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activeshoppinglists.ShoppingListDisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.completedshoppinglists.ShoppingListDisplayActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.completedshoppinglistitems.ItemDisplayActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.completedshoppinglists.ShoppingListDisplayActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>